**Adding the data to the correct Tables**

In [56]:
%load_ext sql
%sql sqlite:///CourseData.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @CourseData.db'

In [57]:
%%sql
INSERT INTO COURSE_OFFERING (CRN, catalog_id, term, section, title, credits, cap, act, rem, meetings, timecodes, primary_instructor)
SELECT CRN, catalog_id, term, section, title, credits, cap, act, rem, meetings, timecodes, primary_instructor
FROM import_courses;

 * sqlite:///CourseData.db
15955 rows affected.

[]

In [58]:
%%sql
INSERT INTO CATALOG_DESC (catalog_id, program_code, program_name, course_title, credits, prereqs, coreqs, fees, attributes, description, catalog_year)
SELECT catalog_id, program_code, program_name, course_title, credits, prereqs, coreqs, fees, attributes, description, catalog_year
FROM import_catalogs;

 * sqlite:///CourseData.db
4441 rows affected.

[]

In [59]:
%%sql
INSERT INTO INSTRUCTOR (primary_instructor)
SELECT primary_instructor
FROM import_courses;

 * sqlite:///CourseData.db
15955 rows affected.

[]

In [60]:
%%sql
INSERT INTO COURSE_MEETING (CRN, term, location, day, start, end)
SELECT DISTINCT CRN, term, location, day, start, end
FROM import_course_meetings;

 * sqlite:///CourseData.db
311142 rows affected.

[]

In [61]:
%%sql
SELECT COUNT(DISTINCT primary_instructor)
FROM INSTRUCTOR;

 * sqlite:///CourseData.db
Done.

[(1105,)]