**Building Tables for the DataBase**

In [1]:
%load_ext sql

In [2]:
%%sql
sqlite:///CourseData.db
DROP TABLE IF EXISTS COURSE_OFFERING;
DROP TABLE IF EXISTS CATALOG_DESC;
DROP TABLE IF EXISTS INSTRUCTOR;
DROP TABLE IF EXISTS COURSE_MEETING;

Done.
Done.
Done.
Done.

[]

In [3]:
%%sql
CREATE TABLE COURSE_OFFERING (
    CRN INTEGER PRIMARY KEY,
    catalog_id TEXT NOT NULL,
    term_year TEXT NOT NULL,
    section TEXT NOT NULL,
    course_title TEXT NOT NULL,
    credits TEXT NOT NULL,
    cap INTEGER NOT NULL,
    act INTEGER NOT NULL,
    rem INTEGER NOT NULL,
    year INTEGER NOT NULL, 
    meetings TEXT NOT NULL, 
    timecodes TEXT NOT NULL,
    primary_instructor TEXT NOT NULL,
    FOREIGN KEY (primary_instructor) REFERENCES INSTRUCTOR (instructor_id),
    FOREIGN KEY (catalog_id) REFERENCES CATALOG_DESC (catalog_id),
    FOREIGN KEY (term_year) REFERENCES CATALOG_DESC (term_year)
);

 * sqlite:///CourseData.db
Done.

[]

In [4]:
%%sql
CREATE TABLE CATALOG_DESC (
    catalog_id TEXT PRIMARY KEY,
    term_year TEXT NOT NULL,
    program_code TEXT NOT NULL,
    program_name TEXT NOT NULL,
    course_title TEXT NOT NULL,
    credits TEXT NOT NULL,
    prereqs TEXT,
    coreqs TEXT,
    fees INTEGER,
    attributes TEXT,
    description TEXT
);

 * sqlite:///CourseData.db
Done.

[]

In [5]:
%%sql
CREATE TABLE INSTRUCTOR (
    instructor_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT NOT NULL,
    phone_ext TEXT
);

 * sqlite:///CourseData.db
Done.

[]

In [6]:
%%sql
CREATE TABLE COURSE_MEETING (
    meet_id INTEGER PRIMARY KEY,
    CRN INTEGER NOT NULL,
    term_year TEXT NOT NULL,
    location TEXT, 
    day TEXT NOT NULL, 
    start TEXT NOT NULL,
    end TEXT NOT NULL, 
    FOREIGN KEY (CRN) REFERENCES COURSE_OFFERING (CRN)
    FOREIGN KEY (term_year) REFERENCES COURSE_OFFERING (term_year)
);

 * sqlite:///CourseData.db
Done.

[]

In [7]:
%%sql
SELECT *
FROM import_course_meetings
LIMIT 10;

 * sqlite:///CourseData.db
Done.

[('Fall2014', '70384', 'DSB 105', 'T', '2014-09-02T08:00:00', '2014-09-02T09:15:00'),
 ('Fall2014', '70384', 'DSB 105', 'F', '2014-09-05T08:00:00', '2014-09-05T09:15:00'),
 ('Fall2014', '70384', 'DSB 105', 'T', '2014-09-09T08:00:00', '2014-09-09T09:15:00'),
 ('Fall2014', '70384', 'DSB 105', 'F', '2014-09-12T08:00:00', '2014-09-12T09:15:00'),
 ('Fall2014', '70384', 'DSB 105', 'T', '2014-09-16T08:00:00', '2014-09-16T09:15:00'),
 ('Fall2014', '70384', 'DSB 105', 'F', '2014-09-19T08:00:00', '2014-09-19T09:15:00'),
 ('Fall2014', '70384', 'DSB 105', 'T', '2014-09-23T08:00:00', '2014-09-23T09:15:00'),
 ('Fall2014', '70384', 'DSB 105', 'F', '2014-09-26T08:00:00', '2014-09-26T09:15:00'),
 ('Fall2014', '70384', 'DSB 105', 'T', '2014-09-30T08:00:00', '2014-09-30T09:15:00'),
 ('Fall2014', '70384', 'DSB 105', 'F', '2014-10-03T08:00:00', '2014-10-03T09:15:00')]

In [8]:
%%sql
SELECT *
FROM import_courses
LIMIT 10;

 * sqlite:///CourseData.db
Done.

[('Fall2014', '70384', 'AC 0011', 'C01', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 0800am-0915am 09/02-12/08 DSB 105']", 'Michael P.  Coyne', '0', '31', '-31'),
 ('Fall2014', '70385', 'AC 0011', 'C02', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 0930am-1045am 09/02-12/08 DSB 105']", 'Michael P.  Coyne', '0', '31', '-31'),
 ('Fall2014', '70382', 'AC 0011', 'C03', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 1230pm-0145pm 09/02-12/08 DSB 105']", 'Michael P.  Coyne', '0', '31', '-31'),
 ('Fall2014', '70291', 'AC 0011', 'C04', '3.000', 'Introduction to Financial Accounting', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]", "['MR 1100am-1215pm 09/02-12/08 DSB 111']", 'Rebecca I.  Bloch', '0', '29', '-29'),
 ('Fall2014', '70350', 'AC 0011', 'C05', '3.000', 'Introduction to Financial Accounting', "[{'days': 'MR', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]", "['MR 1230pm-0145pm 09/02-12/08 DSB 111']", 'Rebecca I.  Bloch', '0', '30', '-30'),
 ('Fall2014', '70381', 'AC 0011', 'C06', '3.000', 'Introduction to Financial Accounting', "[{'days': 'MR', 'times': '0330pm-0445pm', 'dates': '09/02-12/08', 'location': 'DSB 110A'}]", "['MR 0330pm-0445pm 09/02-12/08 DSB 110A']", 'Rebecca I.  Bloch', '0', '31', '-31'),
 ('Fall2014', '70383', 'AC 0011', 'G', '3.000', 'Introduction to Financial Accounting', "[{'days': 'MR', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 111'}]", "['MR 0930am-1045am 09/02-12/08 DSB 111']", 'Paul   Caster', '30', '31', '-1'),
 ('Fall2014', '70391', 'AC 0011', 'H', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 110A'}]", "['TF 0930am-1045am 09/02-12/08 DSB 110A']", 'Jo Ann   Drusbosky', '30', '32', '-2'),
 ('Fall2014', '71105', 'AC 0011', 'I', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 110A'}]", "['TF 1100am-1215pm 09/02-12/08 DSB 110A']", 'Jo Ann   Drusbosky', '30', '33', '-3'),
 ('Fall2014', '71123', 'AC 0011', 'J', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '0200pm-0315pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 0200pm-0315pm 09/02-12/08 DSB 105']", 'Jo Ann   Drusbosky', '30', '32', '-2')]

In [9]:
%%sql
SELECT *
FROM import_catalogs
LIMIT 10;

 * sqlite:///CourseData.db
Done.

[('AN', 'Asian Studies', 'AN 0301', 'Independent Study', '1-3 Credits', '', '', '', '', 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.'),
 ('AN', 'Asian Studies', 'AN 0310', 'Asian Studies Seminar', '3 Credits', '', '', '', '', 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.'),
 ('BU', 'Business', 'BU 0211', 'Legal Environment of Business', '3 Credits', 'Junior standing.', '', '', '', 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.'),
 ('BU', 'Business', 'BU 0220', 'Environmental Law and Policy', '3 Credits', '', '', '', 'EVME Environmental Studies Major Elective, EVPE Environmental Studies Elective, EVSS Environmental Studies: Social Science, MGEL Management: General Elective', 'This course surveys issues arising out of federal laws designed to protect the environment and manage resources. It considers in detail the role of t ... (298 characters truncated) ... t groups in shaping environmental policy, giving special attention to the impact of environmental regulation on business and private property rights.'),
 ('BU', 'Business', 'BU 0311', 'The Law of Contracts, Sales, and Property', '3 Credits', 'BU 0211.', '', '', '', 'This course examines the components of common law contracts including the concepts of offer and acceptance, consideration, capacity and legality, ass ... (117 characters truncated) ...  the Uniform Commercial Code relating to leases, sales of goods, and warranties. The course also considers personal and real property, and bailments.'),
 ('BU', 'Business', 'BU 0312', 'The Law of Business Organizations and Financial Transactions', '3 Credits', 'BU 0211.', '', '', '', 'This course offers an analysis of legal principles related to the law of agency, sole proprietorships, partnerships, corporations, limited liability  ... (163 characters truncated) ... collections and deposits and secured transactions. Finally, the course examines the law of suretyship, debtor-creditor relationships, and bankruptcy.'),
 ('BU', 'Business', 'BU 0320', 'Employment Law and Discrimination in the Workplace', '3 Credits', '', '', '', 'MGEL Management: General Elective, UDIV U.S. Diversity', 'This course examines a variety of legal issues related to the workplace including the doctrine of employment at will, employee privacy, and the histo ... (279 characters truncated) ... gin, age, and disability occupies a major portion of the course. Other employment issues include affirmative action, worker safety, and compensation.'),
 ('BU', 'Business', 'BU 0391', 'Seminar in Business Law and Ethics', '3 Credits', 'AE 0291, BU 0211, two additional courses in law or applied ethics.', '', '', '', 'This interdisciplinary study of these two aspects of the business environment is cross-listed as'),
 ('BL', 'Black Studies', 'BL 0101', 'Black Lives Matter', '3 Credits', '', '', '', 'ASGW American Studies: Gateway, BSFC Black Studies Focus Course, BSSS Black Studies: Social and Behavioral Sciences, PJST Peace and Justice Studies, UDIV U.S. Diversity', 'In the context of Ferguson, Charleston, and other national crises, this course responds to the call of students from our campus community to raise qu ... (391 characters truncated) ... es. Various faculty will bring to bear their respective scholarly lenses so that students understand race and racism across intellectual disciplines.'),
 ('BL', 'Black Studies', 'BL 0398', 'Independent Study', '1-3 Credits', '', '', '', 'BSCP Black Studies Capstone Course', 'Upon request and by agreement with a professor in the program, a Black Studies minor may conduct a one-semester independent study on a defined research topic or field of study.')]