**Building Tables for the DataBase**

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%%sql
sqlite:///CourseData.db
DROP TABLE IF EXISTS COURSE_OFFERING;
DROP TABLE IF EXISTS CATALOG_DESC;
DROP TABLE IF EXISTS INSTRUCTOR;
DROP TABLE IF EXISTS COURSE_MEETING;

Done.
Done.
Done.
Done.

[]

In [9]:
%%sql
CREATE TABLE COURSE_OFFERING (
    CRN INTEGER PRIMARY KEY,
    catalog_id TEXT NOT NULL,
    term_year TEXT NOT NULL,
    section TEXT NOT NULL,
    course_title TEXT NOT NULL,
    credits TEXT NOT NULL,
    cap INTEGER NOT NULL,
    act INTEGER NOT NULL,
    rem INTEGER NOT NULL,
    year INTEGER NOT NULL, 
    meetings TEXT NOT NULL, 
    timecodes TEXT NOT NULL,
    primary_instructor TEXT NOT NULL,
    FOREIGN KEY (primary_instructor) REFERENCES INSTRUCTOR (instructor_id),
    FOREIGN KEY (catalog_id) REFERENCES CATALOG_DESC (catalog_id),
    FOREIGN KEY (term_year) REFERENCES CATALOG_DESC (term_year)
);

 * sqlite:///CourseData.db
Done.

[]

In [10]:
%%sql
CREATE TABLE CATALOG_DESC (
    catalog_id TEXT PRIMARY KEY,
    term_year TEXT NOT NULL,
    program_code TEXT NOT NULL,
    program_name TEXT NOT NULL,
    course_title TEXT NOT NULL,
    credits TEXT NOT NULL,
    prereqs TEXT,
    coreqs TEXT,
    fees INTEGER,
    attributes TEXT,
    description TEXT
);

 * sqlite:///CourseData.db
Done.

[]

In [11]:
%%sql
CREATE TABLE INSTRUCTOR (
    instructor_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT NOT NULL,
    phone_ext TEXT
);

 * sqlite:///CourseData.db
Done.

[]

In [12]:
%%sql
CREATE TABLE COURSE_MEETING (
    meet_id INTEGER PRIMARY KEY,
    CRN INTEGER NOT NULL,
    term_year TEXT NOT NULL,
    location TEXT, 
    day TEXT NOT NULL, 
    start TEXT NOT NULL,
    end TEXT NOT NULL, 
    FOREIGN KEY (CRN) REFERENCES COURSE_OFFERING (CRN)
    FOREIGN KEY (term_year) REFERENCES COURSE_OFFERING (term_year)
);

 * sqlite:///CourseData.db
Done.

[]