In [1]:
%load_ext sql

In [2]:
%%sql
sqlite:///../CourseDataWarehouse.db

'Connected: @../CourseDataWarehouse.db'

In [3]:
%%sql
/* Testing for entity integrity */
SELECT DISTINCT COUNT(*), COUNT(*) FROM DW_COURSES;

 * sqlite:///../CourseDataWarehouse.db
Done.

[(2159, 2159)]

In [4]:
%%sql
/* Testing for entity integrity */
SELECT DISTINCT COUNT(*), COUNT(*) FROM DW_INSTRUCTOR;

 * sqlite:///../CourseDataWarehouse.db
Done.

[(571, 571)]

In [5]:
%%sql
/* Testing for entity integrity */
SELECT DISTINCT COUNT(*), COUNT(*) FROM DW_COURSE_OFFERING;

 * sqlite:///../CourseDataWarehouse.db
Done.

[(2072, 2072)]

In [6]:
%%sql
/* Testing for entity integrity */
SELECT DISTINCT COUNT(*), COUNT(*) FROM DW_COURSE_MEETING;

 * sqlite:///../CourseDataWarehouse.db
Done.

[(311159, 311159)]