**Data Warehouse**

In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%%sql
sqlite:///../FP/CourseDataWarehouse.db

'Connected: @../FP/CourseDataWarehouse.db'

In [7]:
%%sql
SELECT * FROM import_teacher_info LIMIT 2;

 * sqlite:///../FP/CourseDataWarehouse.db
Done.

[('420', 'Nancy A.  Moriber', '15', '14', 'Nursing'),
 ('52', 'Anthony J.  DeCristofaro', '11', '4', 'Biology')]

In [36]:
%%sql

/* Dropping tables if they already exist */

DROP TABLE IF EXISTS DW_INSTRUCTOR;
DROP TABLE IF EXISTS DW_COURSE_OFFERING;
DROP TABLE IF EXISTS DW_COURSES;
DROP TABLE IF EXISTS DW_CATALOG_DESC;

 * sqlite:///../FP/CourseDataWarehouse.db
Done.
Done.
Done.
Done.

[]

**DML: Creating the Tables**

In [37]:
%%sql

/* Creating table DW_INSTRUCTOR based off of the ERD */

CREATE TABLE DW_INSTRUCTOR (
    instructor_id INTEGER PRIMARY KEY,
    primary_instructor TEXT NOT NULL
);

/* Creating table DW_CATALOG_DESC based off of the ERD */

CREATE TABLE DW_CATALOG_DESC (
    catalog_desc_id INTEGER PRIMARY KEY,
    program_name TEXT NOT NULL,
    course_title TEXT NOT NULL
);

/* Creating table DW_COURSES based off of the ERD */
CREATE TABLE DW_COURSES (
    course_offering_id INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    term TEXT NOT NULL,
    catalog_id TEXT NOT NULL,
    section TEXT NOT NULL
);

/* Creating table DW_COURSE_OFFERING based off of the ERD */

CREATE TABLE DW_COURSE_OFFERING (
    CRN INTEGER NOT NULL,
    instructor_id INTEGER NOT NULL,
    credits INTEGER NOT NULL,
    cap INTEGER NOT NULL,
    act INTEGER NOT NULL,
    rem INTEGER NOT NULL,
    catalog_desc_id INTEGER,
    course_offering_id INTEGER NOT NULL,
    classes_taught INTEGER,
    distinct_preps INTEGER
);

 * sqlite:///../FP/CourseDataWarehouse.db
Done.
Done.
Done.
Done.

[]

**DDL: Inserting information into the Tables**

In [38]:
%%sql

/* Inserting the information into the DW_INSTRUCTOR table based off our Warehouse ERD */
INSERT INTO DW_INSTRUCTOR (instructor_id, primary_instructor) 
SELECT instructor_id, primary_instructor
FROM import_teacher_info;

/* Inserting the information into the DW_CATALOG_DESC table based off our Warehouse ERD */
INSERT INTO DW_CATALOG_DESC (catalog_desc_id, program_name, course_title)
SELECT catalog_desc_id, program_name, course_title
FROM CATALOG_DESC
;

/* Inserting the information into the DW_COURSES table based off our Warehouse ERD */
INSERT INTO DW_COURSES (course_offering_id, title, term, catalog_id, section)
SELECT course_offering_id, title, term, catalog_id, section
FROM COURSE_OFFERING
WHERE term = 'Summer2018' AND act > 10
OR term = 'Fall2018' AND act > 10
OR term = 'Spring2019' AND act > 10;
   
/* Inserting the information into the DW_COURSE_OFFERING table based off our Warehouse ERD */
INSERT INTO DW_COURSE_OFFERING (CRN, instructor_id, catalog_desc_id, course_offering_id, credits, cap, act, rem)
SELECT CRN, instructor_id, catalog_desc_id, course_offering_id, COURSE_OFFERING.credits, cap, act, rem
FROM COURSE_OFFERING
WHERE term = 'Summer2018' AND act > 10
OR term = 'Fall2018' AND act > 10
OR term = 'Spring2019' AND act > 10;

/* Inserting the information into the DW_COURSE_OFFERING table based off our Warehouse ERD */
INSERT INTO DW_COURSE_OFFERING (classes_taught, distinct_preps)
SELECT classes_taught, distinct_preps
FROM import_teacher_info
JOIN USING (import_teacher_info.instructor_id=DW_COURSE_OFFERING.instructor_id);

 * sqlite:///../FP/CourseDataWarehouse.db
Done.
Done.
Done.
Done.
(sqlite3.OperationalError) near "USING": syntax error [SQL: '/* Inserting the information into the DW_COURSE_OFFERING table based off our Warehouse ERD */\nINSERT INTO DW_COURSE_OFFERING (classes_taught, distinct_preps)\nSELECT classes_taught, distinct_preps\nFROM import_teacher_info\nJOIN USING (import_teacher_info.instructor_id=DW_COURSE_OFFERING.instructor_id);'] (Background on this error at: http://sqlalche.me/e/e3q8)