**Database Project**

Step 1: Loading in SQL and then creating the **CourseData.db** database

In [1]:
%load_ext sql

In [2]:
%%sql

sqlite:///../FP/CourseData-Copy1.db

/* Dropping tables if they already exist */    

DROP TABLE IF EXISTS COURSE_OFFERING;
DROP TABLE IF EXISTS CATALOG_DESC;
DROP TABLE IF EXISTS INSTRUCTOR;
DROP TABLE IF EXISTS COURSE_MEETING;
DROP TABLE IF EXISTS CATALOG_YEAR_FILL;

Done.
Done.
Done.
Done.
Done.

[]

**Step 2: DML Creating the Tables**

In [3]:
%%sql

/* Creating table CATALOG_DESC based off of the ERD */

CREATE TABLE CATALOG_DESC (
    catalog_desc_id INTEGER PRIMARY KEY,
    catalog_id TEXT NOT NULL,
    program_code TEXT NOT NULL,
    program_name TEXT NOT NULL,
    course_title TEXT NOT NULL,
    credits TEXT NOT NULL,
    prereqs TEXT,
    coreqs TEXT,
    fees TEXT,
    attributes TEXT,
    description TEXT,
    catalog_year TEXT NOT NULL
);

 * sqlite:///../FP/CourseData-Copy1.db
Done.

[]

In [4]:
%%sql

/* Creating table INSTRUCTOR based off of the ERD */

CREATE TABLE INSTRUCTOR (
    instructor_id INTEGER PRIMARY KEY,
    primary_instructor TEXT NOT NULL
);

 * sqlite:///../FP/CourseData-Copy1.db
Done.

[]

In [5]:
%%sql

/* Creating table COURSE_OFFERING based off of the ERD and specifying Foreign Keys */

CREATE TABLE COURSE_OFFERING (
    course_offering_id INTEGER PRIMARY KEY,
    CRN TEXT NOT NULL,
    catalog_id TEXT NOT NULL,
    catalog_desc_id INTEGER,
    term TEXT NOT NULL,
    section TEXT NOT NULL,
    title TEXT NOT NULL,
    credits INTEGER NOT NULL,
    cap INTEGER NOT NULL,
    act INTEGER NOT NULL,
    rem INTEGER NOT NULL, 
    meetings TEXT NOT NULL, 
    timecodes TEXT NOT NULL,
    catalog_year TEXT,
    instructor_id INTEGER NOT NULL,
    FOREIGN KEY (instructor_id) REFERENCES INSTRUCTOR (instructor_id),
    FOREIGN KEY (catalog_desc_id) REFERENCES CATALOG_DESC (catalog_desc_id)
);

 * sqlite:///../FP/CourseData-Copy1.db
Done.

[]

In [6]:
%%sql

/* Creating table COURSE_MEETING based off of the ERD and specifying Foreign Keys */

CREATE TABLE COURSE_MEETING (
    meet_id INTEGER PRIMARY KEY,
    course_offering_id INTEGER NOT NULL,
    CRN TEXT NOT NULL,
    term TEXT NOT NULL,
    location TEXT, 
    day TEXT NOT NULL, 
    start TEXT NOT NULL,
    end TEXT NOT NULL,
    FOREIGN KEY (course_offering_ID) REFERENCES COURSE_OFFERING (course_offering_ID)
);

 * sqlite:///../FP/CourseData-Copy1.db
Done.

[]

In [7]:
%%sql

/* Creating table CATALOG_YEAR_FILL to help us update the CATALOG_DESC */

CREATE TABLE CATALOG_YEAR_FILL (
    term TEXT NOT NULL,
    catalog_year TEXT NOT NULL
);

 * sqlite:///../FP/CourseData-Copy1.db
Done.

[]

**Step 3: DDL Inserting our imported information into our tables**

In [8]:
%%sql

/* Inserting information into the table to be able to use as a join later */

INSERT INTO CATALOG_YEAR_FILL (term, catalog_year) VALUES
('Fall2017','2017_2018'), ('Winter2018','2017_2018'), ('Spring2018','2017_2018'), ('SpringBreak2018','2017_2018')
 , ('Summer2018','2017_2018'), ('Fall2018','2018_2019'), ('Winter2019','2018_2019'), ('Spring2019','2018_2019');

 * sqlite:///../FP/CourseData-Copy1.db
Done.

[]

In [9]:
%%sql

/* Inserting the correct information into the INSTRUCTOR table import_courses 
based off of our ERD */

INSERT INTO INSTRUCTOR (primary_instructor)
SELECT DISTINCT primary_instructor
FROM import_courses;

 * sqlite:///../FP/CourseData-Copy1.db
Done.

[]

In [10]:
%%sql

/* Inserting the correct information into the CATALOG_DESC table import_catalogs 
based off of our ERD */

INSERT INTO CATALOG_DESC (catalog_id, program_code, program_name, course_title, credits, prereqs, coreqs, fees, attributes, description, catalog_year)
SELECT catalog_id, program_code, program_name, course_title, credits, prereqs, coreqs, fees, attributes, description, catalog_year
FROM import_catalogs;

 * sqlite:///../FP/CourseData-Copy1.db
Done.

[]

In [11]:
%%sql

/* Inserting the correct information into the COURSE_OFFERING table from import_courses 
based off of our ERD. Also joining the other tables in our ERD off 
of their foreign keys */

INSERT INTO COURSE_OFFERING (CRN, term, section, title, credits, cap, act, rem, meetings, timecodes, instructor_id, catalog_id, catalog_desc_id, catalog_year)
SELECT CRN, term, section, title, import_courses.credits, cap, act, rem, meetings, timecodes, instructor_id, import_courses.catalog_id, catalog_desc_id, CATALOG_YEAR_FILL.catalog_year
    FROM import_courses
    JOIN INSTRUCTOR ON (import_courses.primary_instructor=INSTRUCTOR.primary_instructor)
    LEFT JOIN CATALOG_YEAR_FILL USING (term)
    LEFT JOIN CATALOG_DESC ON (import_courses.catalog_id=CATALOG_DESC.catalog_id AND CATALOG_YEAR_FILL.catalog_year=CATALOG_DESC.catalog_year);

 * sqlite:///../FP/CourseData-Copy1.db
Done.

[]

In [12]:
%%sql

/* Inserting the correct information into the INSTRUCTOR table from import_course_meetings
based off of our ERD. Also joining the other tables in our ERD off 
of their foreign keys */

INSERT INTO COURSE_MEETING (course_offering_id, CRN, term, location, day, start, end)
SELECT DISTINCT course_offering_id, import_course_meetings.CRN, import_course_meetings.term, location, day, start, end
    FROM import_course_meetings
    JOIN COURSE_OFFERING ON (import_course_meetings.CRN=COURSE_OFFERING.CRN AND import_course_meetings.term=COURSE_OFFERING.term);

 * sqlite:///../FP/CourseData-Copy1.db
Done.

[]