**Building Tables for the DataBase**

In [29]:
#Loading in SQL extension
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [32]:
%%sql
sqlite:///CourseData.db
DROP TABLE IF EXISTS COURSE_OFFERING;
DROP TABLE IF EXISTS CATALOG_DESC;
DROP TABLE IF EXISTS INSTRUCTOR;
DROP TABLE IF EXISTS COURSE_MEETING;

Done.
Done.
Done.
Done.

[]

In [15]:
#%%sql\n",
#Creating the Course_Offering Table\n",
CREATE TABLE COURSE_OFFERING (,
    CRN INTEGER PRIMARY KEY,
    catalog_id TEXT NOT NULL,
    term_year TEXT NOT NULL,
    section TEXT NOT NULL,
    course_title TEXT NOT NULL,
    credits TEXT NOT NULL,
    cap INTEGER NOT NULL,
    act INTEGER NOT NULL,
    rem INTEGER NOT NULL,
    year INTEGER NOT NULL, 
    meetings TEXT NOT NULL, 
    timecodes TEXT NOT NULL,
    FOREIGN KEY (primary_instructor) REFERENCES INSTRUCTOR (instructor_id),
    FOREIGN KEY (catalog_id) REFERENCES CATALOG_DESC (catalog_id),
    FOREIGN KEY (term_year) REFERENCES CATALOG_DESC (term_year),
);

SyntaxError: invalid syntax (<ipython-input-15-88d0a0e8d232>, line 3)

In [16]:
#%%sql
#Creating CATALOG_DESC Table
CREATE TABLE CATALOG_DESC (
    catalog_id TEXT PRIMARY KEY,
    term_year TEXT PRIMARY KEY,
    program_code TEXT NOT NULL,
    program_name TEXT NOT NULL,
    course_title TEXT NOT NULL,
    credits TEXT NOT NULL,
    prereqs TEXT,
    coreqs TEXT,
    fees INTEGER,
    attributes TEXT,
    description TEXT
);

SyntaxError: invalid syntax (<ipython-input-16-091cd79980e7>, line 3)

In [17]:
#%%sql
#Creating INSTRUCTOR Table
CREATE TABLE INSTRUCTOR (
    instructor_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT NOT NULL,
    phone_ext TEXT,
    PRIMARY KEY (instructor_id)
);

SyntaxError: invalid syntax (<ipython-input-17-09daa0afb22f>, line 3)

In [18]:
#%%sql
#Creating COURSE_MEETING Table
CREATE TABLE COURSE_MEETING (
    meet_id INTEGER NOT NULL auto_increment,
    CRN INTEGER NOT NULL,
    location TEXT, 
    day TEXT NOT NULL, 
    start TEXT NOT NULL,
    end TEXT NOT NULL, 
    PRIMARY KEY (meet_id),
    FOREIGN KEY (CRN) REFERENCES COURSE_OFFERING (CRN)
);

SyntaxError: invalid syntax (<ipython-input-18-161ecea75cdc>, line 3)